<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Title</title>

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/static/css/default.css">
    <link href="/static/css/offcanvas.min.css" rel="stylesheet" type="text/css">

</head>
<body>
<!--<div>-->
    <!--<button id="buttonloacl">local</button>-->
    <!--<button id="buttonremote" disabled="true">remote</button>-->
<!--</div>-->
    <!--<div id="container" class="thumbnails">-->
    <!--</div>-->


   <video id="nowvideo" autoplay width="480" height="320"></video>



<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <!--<div class="navbar-header">-->
            <!--<button type="button" class="navbar-toggle collapsed pull-left" data-toggle="offcanvas">-->
                <!--<span class="sr-only">Toggle navigation</span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
            <!--</button>-->
              <!--&lt;!&ndash;<a class="navbar-brand" href="#">Bootstrap响应式导航菜单</a>&ndash;&gt;-->
        <!--</div>-->
        <div id="navbar" class="collapse navbar-collapse sidebar-offcanvas">
            <ul class="nav navbar-nav">
                <li class="active"><a id="buttonloacl" href="#">local</a></li>
                <li><a id="buttonremote" href="#">remote</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="container">
    <div class="row-offcanvas row-offcanvas-left">
        <div class="starter-template">
            <div id="container" class="row">
                <!--<div class="col-xs-6 col-md-3">-->
                    <!--<a href="#" class="thumbnail">-->
                        <!--<img src="img/thumb-1.jpg" alt>-->
                    <!--</a>-->
                <!--</div>-->
                <!--<div class="col-xs-6 col-md-3">-->
                    <!--<a href="#" class="thumbnail">-->
                        <!--<img src="img/thumb-2.jpg" alt>-->
                    <!--</a>-->
                <!--</div>-->


            </div>
        </div>
    </div>
</div>

</body>

<script type="text/javascript" src="/static/js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/static/js/offcanvas.js"></script>

<script src="/static/js/adapter-latest.js"></script>
<script src="/static/js/main.js"></script>
</html>