<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Title</title>

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">

    <!--<link rel="stylesheet" type="text/css" href="/static/css/default.css">-->
    <!--<link href="/static/css/offcanvas.min.css" rel="stylesheet" type="text/css">-->

</head>
<body>
<!--<div>-->
<!--<button id="buttonloacl">local</button>-->
<!--<button id="buttonremote" disabled="true">remote</button>-->
<!--</div>-->
<!--<div id="container" class="thumbnails">-->
<!--</div>-->



            <ul class="nav navbar-nav">


                <li ><div ><label>房间号：</label><input type="input" id="inputRoom" style="width:150px;height:60px;"></div></li>
                <li ><a id="buttonloacl" href="#">Video</a></li>
                <li ><a id="buttonloac2" href="#">Window</a></li>
                <li><a id="buttonremote" href="#">remote</a></li>
            </ul>
<br>
<video id="nowvideo" autoplay width="100%" height="600"></video>


<div >
    <div >
        <div >
            <div id="container" >
                <!--<div class="col-xs-6 col-md-3">-->
                <!--<a href="#" class="thumbnail">-->
                <!--<img src="img/thumb-1.jpg" alt>-->
                <!--</a>-->
                <!--</div>-->
                <!--<div class="col-xs-6 col-md-3">-->
                <!--<a href="#" class="thumbnail">-->
                <!--<img src="img/thumb-2.jpg" alt>-->
                <!--</a>-->
                <!--</div>-->


            </div>
        </div>
    </div>
</div>

</body>

<script type="text/javascript" src="/static/js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/static/js/offcanvas.js"></script>

<script src="/static/js/adapter-latest.js"></script>
<script src="/static/js/liveRoom.js"></script>
</html>