<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.TMenuAuthorMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.entity.TMenuAuthor" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="fid" property="fid" jdbcType="VARCHAR" />
    <result column="menu_fid" property="menuFid" jdbcType="VARCHAR" />
    <result column="auth_fid" property="authFid" jdbcType="VARCHAR" />
    <result column="is_del" property="isDel" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="last_modify_time" property="lastModifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, fid, menu_fid, auth_fid, is_del, create_time, last_modify_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_menu_author
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectMenuAuthList" resultType="com.example.demo.vo.TMenuAuthorPo" parameterType="java.lang.String">
    select
    tma.id, tma.fid, tma.menu_fid, tma.auth_fid, tma.is_del, tma.create_time, tma.last_modify_time,ta.authority_name
    from t_menu_author tma ,t_authority ta where tma.auth_fid=ta.fid and ta.is_del=0 and ta.is_del=0
    <if test="_parameter!=null and _parameter.size()>0">
      and tma.menu_fid in
      <foreach item="item" collection="list" separator="," open="(" close=")" index="">
        #{item, jdbcType=VARCHAR}
      </foreach>
    </if>
  </select>

  <insert id="insertList" parameterType="java.util.List">
    insert into t_user_role(fid,menu_fid,auth_fid) values
    <!--item就是List里每一项的对象名，要用","分割每一条数据，最后要";"结尾-->
    <foreach collection="list" item="balance" separator="," close=";">
      (#{balance.fid},#{balance.menuFid},#{balance.authFid})
    </foreach>
  </insert>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_menu_author
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.entity.TMenuAuthor" >
    insert into t_menu_author (id, fid, menu_fid, 
      auth_fid, is_del, create_time, 
      last_modify_time)
    values (#{id,jdbcType=INTEGER}, #{fid,jdbcType=VARCHAR}, #{menuFid,jdbcType=VARCHAR}, 
      #{authFid,jdbcType=VARCHAR}, #{isDel,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{lastModifyTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.entity.TMenuAuthor" >
    insert into t_menu_author
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="fid != null" >
        fid,
      </if>
      <if test="menuFid != null" >
        menu_fid,
      </if>
      <if test="authFid != null" >
        auth_fid,
      </if>
      <if test="isDel != null" >
        is_del,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="lastModifyTime != null" >
        last_modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="fid != null" >
        #{fid,jdbcType=VARCHAR},
      </if>
      <if test="menuFid != null" >
        #{menuFid,jdbcType=VARCHAR},
      </if>
      <if test="authFid != null" >
        #{authFid,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifyTime != null" >
        #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.entity.TMenuAuthor" >
    update t_menu_author
    <set >
      <if test="fid != null" >
        fid = #{fid,jdbcType=VARCHAR},
      </if>
      <if test="menuFid != null" >
        menu_fid = #{menuFid,jdbcType=VARCHAR},
      </if>
      <if test="authFid != null" >
        auth_fid = #{authFid,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null" >
        is_del = #{isDel,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifyTime != null" >
        last_modify_time = #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.entity.TMenuAuthor" >
    update t_menu_author
    set fid = #{fid,jdbcType=VARCHAR},
      menu_fid = #{menuFid,jdbcType=VARCHAR},
      auth_fid = #{authFid,jdbcType=VARCHAR},
      is_del = #{isDel,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_modify_time = #{lastModifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>