<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.TUserPostMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.entity.TUserPost">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="fid" jdbcType="VARCHAR" property="fid" />
    <result column="user_fid" jdbcType="VARCHAR" property="userFid" />
    <result column="post_fid" jdbcType="VARCHAR" property="postFid" />
    <result column="is_leader" jdbcType="TINYINT" property="isLeader" />
    <result column="is_del" jdbcType="TINYINT" property="isDel" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="last_modify_time" jdbcType="TIMESTAMP" property="lastModifyTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, fid, user_fid, post_fid, is_leader, is_del, create_time, last_modify_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user_post
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_user_post
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.entity.TUserPost">
    insert into t_user_post (id, fid, user_fid, 
      post_fid, is_leader, is_del, 
      create_time, last_modify_time)
    values (#{id,jdbcType=INTEGER}, #{fid,jdbcType=VARCHAR}, #{userFid,jdbcType=VARCHAR}, 
      #{postFid,jdbcType=VARCHAR}, #{isLeader,jdbcType=TINYINT}, #{isDel,jdbcType=TINYINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{lastModifyTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.entity.TUserPost">
    insert into t_user_post
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="fid != null">
        fid,
      </if>
      <if test="userFid != null">
        user_fid,
      </if>
      <if test="postFid != null">
        post_fid,
      </if>
      <if test="isLeader != null">
        is_leader,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="lastModifyTime != null">
        last_modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="fid != null">
        #{fid,jdbcType=VARCHAR},
      </if>
      <if test="userFid != null">
        #{userFid,jdbcType=VARCHAR},
      </if>
      <if test="postFid != null">
        #{postFid,jdbcType=VARCHAR},
      </if>
      <if test="isLeader != null">
        #{isLeader,jdbcType=TINYINT},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifyTime != null">
        #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.entity.TUserPost">
    update t_user_post
    <set>
      <if test="fid != null">
        fid = #{fid,jdbcType=VARCHAR},
      </if>
      <if test="userFid != null">
        user_fid = #{userFid,jdbcType=VARCHAR},
      </if>
      <if test="postFid != null">
        post_fid = #{postFid,jdbcType=VARCHAR},
      </if>
      <if test="isLeader != null">
        is_leader = #{isLeader,jdbcType=TINYINT},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifyTime != null">
        last_modify_time = #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.entity.TUserPost">
    update t_user_post
    set fid = #{fid,jdbcType=VARCHAR},
      user_fid = #{userFid,jdbcType=VARCHAR},
      post_fid = #{postFid,jdbcType=VARCHAR},
      is_leader = #{isLeader,jdbcType=TINYINT},
      is_del = #{isDel,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_modify_time = #{lastModifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>