<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.TUserRoleMapper">
    <resultMap id="BaseResultMap" type="com.example.demo.entity.TUserRole">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="fid" jdbcType="VARCHAR" property="fid"/>
        <result column="user_fid" jdbcType="VARCHAR" property="userFid"/>
        <result column="role_fid" jdbcType="VARCHAR" property="roleFid"/>
        <result column="is_del" jdbcType="TINYINT" property="isDel"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="last_modify_time" jdbcType="TIMESTAMP" property="lastModifyTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, fid, user_fid, role_fid, is_del, create_time, last_modify_time
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_user_role
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_user_role
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.example.demo.entity.TUserRole">
    insert into t_user_role (id, fid, user_fid, 
      role_fid, is_del, create_time, 
      last_modify_time)
    values (#{id,jdbcType=INTEGER}, #{fid,jdbcType=VARCHAR}, #{userFid,jdbcType=VARCHAR}, 
      #{roleFid,jdbcType=VARCHAR}, #{isDel,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{lastModifyTime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.example.demo.entity.TUserRole">
        insert into t_user_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="fid != null">
                fid,
            </if>
            <if test="userFid != null">
                user_fid,
            </if>
            <if test="roleFid != null">
                role_fid,
            </if>
            <if test="isDel != null">
                is_del,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="lastModifyTime != null">
                last_modify_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="fid != null">
                #{fid,jdbcType=VARCHAR},
            </if>
            <if test="userFid != null">
                #{userFid,jdbcType=VARCHAR},
            </if>
            <if test="roleFid != null">
                #{roleFid,jdbcType=VARCHAR},
            </if>
            <if test="isDel != null">
                #{isDel,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastModifyTime != null">
                #{lastModifyTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.entity.TUserRole">
        update t_user_role
        <set>
            <if test="fid != null">
                fid = #{fid,jdbcType=VARCHAR},
            </if>
            <if test="userFid != null">
                user_fid = #{userFid,jdbcType=VARCHAR},
            </if>
            <if test="roleFid != null">
                role_fid = #{roleFid,jdbcType=VARCHAR},
            </if>
            <if test="isDel != null">
                is_del = #{isDel,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastModifyTime != null">
                last_modify_time = #{lastModifyTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.example.demo.entity.TUserRole">
    update t_user_role
    set fid = #{fid,jdbcType=VARCHAR},
      user_fid = #{userFid,jdbcType=VARCHAR},
      role_fid = #{roleFid,jdbcType=VARCHAR},
      is_del = #{isDel,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_modify_time = #{lastModifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <select id="selectUserRoleIfList" resultType="com.example.demo.vo.UserRolePo" parameterType="java.lang.String">
        select
        tur.id, tur.fid, tur.user_fid, tur.role_fid, tur.is_del, tur.create_time, tur.last_modify_time,tr.name as roleName
        from t_user_role tur ,t_role tr where tur.role_fid=tr.fid
        <if test="_parameter!=null and _parameter.size()>0">
            and user_fid in
            <foreach item="item" collection="list" separator="," open="(" close=")" index="">
                #{item, jdbcType=VARCHAR}
            </foreach>
        </if>
    </select>
</mapper>